@use "../../styles/index" as *;

.projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;

    p{
        font-size: $font-size-sm;
        line-height: $line-text;
    }
    
    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }

    .projetsButton {
        padding: 1rem 2.5rem;
        background-color: $color-primary;
        color: white;
        font-size: $font-size-sm;
        font-weight: $font-weight-semi-bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        margin: 0 auto;
        margin-top: 1rem;
      
        &:hover {
          background-color: #387b84;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    margin: 1.5rem;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
    }
    
    p{
        margin-top: 0.5rem;
        font-size: $font-size-sm;
        line-height: $line-text;
    }

}

.modalImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color-blue-dark;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
