@use "../../styles/index" as *;

.serviceWeb{
    width: 70%;

    .serviceWebImage{
        width: 100%;
        height: 200px; /* Fixe une hauteur uniforme pour toutes les images */
        margin-top: 3rem;
    }

    .serviceWebName{
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
    }

    .serviceWebText{
        font-size: $font-size-sm;
        line-height: $line-text;
        margin-top: 1rem;
    }
}

@media (min-width: 1024px) {   

    .serviceWeb{
        width: 100%;

        .serviceWebName{
            font-size: $font-size-xl;
        }
    
        .serviceWebText{
            font-size: $font-size-sm;
        }
    }

}