@use "../../styles/index" as *;

.serviceWeb{
    width: 70%;

    .serviceWebImage{
        width: 100%;
        margin-top: 3rem;
    }

    .serviceWebName{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
    }

    .serviceWebText{
        font-size: $font-size-sm;
        line-height: $line-text;
        margin-top: 1rem;
    }
}