@use "../../styles/index" as *;

.servicesWeb{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    position: relative; // Permet de positionner l'effet correctement

    &::before {
        content: "";
        position: absolute;
        width: 50%; // Augmenté pour couvrir un maximum de surface
        height: 100%;
        background: rgba(65, 143, 153, 0.4); // Bleu-vert #418F99 avec transparence
        filter: blur(150px); // Flou plus large pour un effet diffus
        border-radius: 50%;
        z-index: -1; // Derrière le contenu
    }

    p{
        font-size: $font-size-sm;
        line-height: $line-text;
    }
    
    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }
}

.servicesWebContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    background-color: $color-gray-light;
    border-radius: 20px;
    padding: 1.5rem;

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
    }

    .servicesWebImage{
        width: 80%;
        margin-top: 0.5rem;
    }

    p{
        font-size: $font-size-md;
        line-height: $line-text;
    }

    .servicesWebName{
        margin-top: 0.5rem;
    }
    
    .servicesWebText{
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }

    .servicesWebTextAction{
        font-style: italic;
        margin-top: 0.5rem;
    }

    .submitButton {
        padding: 1rem 2rem;
        margin-top: 1rem;
    }
}