@use "../../styles/index" as *;

.mainAbove{
    display: flex;
    flex-direction: column;
    text-align: center;

    h1{
        font-size: $font-size-xxxl;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
    }

    p{
        font-size: $font-size-md;
        margin-bottom: 2rem;
    }

    .submitButton {
        padding: 0.5rem 1rem;
    }

    .mainAboveImage {
        margin-top: 2rem;
        width: 100%;
    }
}

.mainService{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

    .containerTextMainService{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flouMainCreationcontenu{
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 150px; // Ajustement pour bien couvrir le haut
            right: -100px;
            width: 100%; // Augmenté pour couvrir un maximum de surface
            height: 50%;
            background: rgba(65, 143, 153, 0.4); // Bleu-vert #418F99 avec transparence
            filter: blur(150px); // Flou plus large pour un effet diffus
            border-radius: 50%;
            z-index: -1; // Derrière le contenu
        }
    }

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 3rem;
    }

    p{
        font-size: $font-size-sm;
        margin-top: 1rem;
        line-height: $line-text-xl;
    }

    .arrow{
        margin-top: 1rem;
    }

    .mainServiceImage{
        width: 80%;
        margin-top: 1rem;
    }
}

.mainTemoignages{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;

    p{
        font-size: $font-size-sm;
        line-height: $line-text;
    }
    
    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }

    .mainTemoignage{
        margin-top: 1rem;
        padding: 2rem;
        background-color: $color-gray-light;
        border-radius: 20px;

        .mainTemoignageImage{
            width: 150px;
        }

        .mainTemoignageName{
            margin-top: 0.5rem;
        }

        .mainTemoignageText{
            margin-top: 0.5rem;
            font-weight: $font-weight-light;
        }
    }

}

.mainActionContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    background-color: $color-gray-light;
    border-radius: 20px;
    padding: 1.5rem;
    position: relative;
    z-index: -2;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 50%; // Ajustement pour bien couvrir le haut
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%; // Augmenté pour couvrir un maximum de surface
        height: 50%;
        background: rgba(65, 143, 153, 0.4); // Bleu-vert #418F99 avec transparence
        filter: blur(150px); // Flou plus large pour un effet diffus
        border-radius: 50%;
        z-index: -1; // Derrière le contenu
    }

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
    }

    .mainActionImage{
        width: 80%;
        margin-top: 2rem;
    }

    p{
        font-size: $font-size-md;
        line-height: $line-text;
    }

    .mainActionName{
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }
    
    .mainActionText{
        margin-top: 0.5rem;
    }

    .mainActionTextAction{
        font-style: italic;
        margin-top: 0.5rem;
    }

    .submitButton {
        padding: 1rem 2rem;
        margin-top: 1rem;
    }
}

.mainProjets{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%; // Ajustement pour bien couvrir le haut
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; // Augmenté pour couvrir un maximum de surface
        height: 80%;
        background: rgba(65, 143, 153, 0.4); // Bleu-vert #418F99 avec transparence
        filter: blur(150px); // Flou plus large pour un effet diffus
        border-radius: 50%;
        z-index: -1; // Derrière le contenu
    }

    p{
        font-size: $font-size-sm;
        line-height: $line-text;
    }
    
    .mainProjetsTitle{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }

    .mainProjetsButton {
        padding: 1rem 2.5rem;
        background-color: $color-primary;
        color: white;
        font-size: $font-size-sm;
        font-weight: $font-weight-semi-bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        margin: 0 auto;
        margin-top: 1rem;
      
        &:hover {
          background-color: #387b84;
        }
      }
}