@use "../../styles/index" as *;

.mainAbove{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 132px);

    h1{
        font-size: $font-size-xxxl;
        font-weight: $font-weight-bold;
        margin-bottom: 2rem;
    }

    p{
        font-size: $font-size-md;
        margin-bottom: 2rem;
    }

    .submitButton {
        margin-top: 0;
        padding: 0.5rem 1rem;
    }

    .mainAboveImage {
        margin-top: 2rem;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .mainAbove {
        flex-direction: row;
        align-items: center;
        text-align: left;
        height: auto;
        
        .contentTextMainAbove {
            // flex-direction: row; // Remove this
            // align-items: center; // Remove this
            // justify-content: space-between; // Remove this
            h1 {
                font-size: $font-size-xxxxl;
            }

            p {
                font-size: $font-size-lg;
                max-width: 600px;
            }
        }
      
        .submitButton {
            font-size: $font-size-md;
            margin-top: 1rem; // Add margin-top
          }
      
        .mainAboveImage {
            margin-top: 0;
            width:100%; // Adjust image width
          }
        }
    
}

.mainDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 3rem;
    }

    p{
        font-size: $font-size-sm;
        margin-top: 1rem;
        line-height: $line-text-xl;
    }

    .arrowMainService{
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .mainDescription{

        h2{
            font-size: $font-size-xxxl;
            font-weight: $font-weight-bold;
            margin-top: 3rem;
        }
    
        p{
            font-size: $font-size-md;
            margin-top: 1rem;
            line-height: $line-text-xl;
        }
    }
}

.mainService{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

    .containerTextMainService{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flouMainCreationcontenu{
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 150px; // Ajustement pour bien couvrir le haut
            right: -100px;
            width: 100%; // Augmenté pour couvrir un maximum de surface
            height: 50%;
            background: rgba(65, 143, 153, 0.6); // Bleu-vert #418F99 avec transparence
            filter: blur(150px); // Flou plus large pour un effet diffus
            border-radius: 50%;
            z-index: -1; // Derrière le contenu
        }
    }

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 3rem;
    }

    p{
        font-size: $font-size-sm;
        margin-top: 1rem;
        line-height: $line-text-xl;
    }

    .arrowMainService{
        margin: 2rem;
    }

    .mainServiceImage{
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .mainService{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        margin-top: 5rem;
    
        .webMainService{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .textMainService{
            width: 55%;
            margin: 5rem;
        }

        .arrowMainService{
            margin-left: 0rem;
        }

        .flouMainCreationcontenu{
            flex-direction: row-reverse;
            position: relative;
    
            &::before {
                content: "";
                position: absolute;
                top: 150px; // Ajustement pour bien couvrir le haut
                right: -100px;
                width: 100%; // Augmenté pour couvrir un maximum de surface
                height: 50%;
                background: rgba(65, 143, 153, 0.5); // Bleu-vert #418F99 avec transparence
                filter: blur(150px); // Flou plus large pour un effet diffus
                border-radius: 50%;
                z-index: -1; // Derrière le contenu
            }
        }
    
        h2{
            font-size: $font-size-xxxl;
            font-weight: $font-weight-bold;
            margin-top: 3rem;
        }
    
        p{
            font-size: $font-size-md;
            margin-top: 1rem;
            line-height: $line-text-xl;
        }
    
    
        .mainServiceImage{
            max-width: 450px;
        }
    }
}

.mainTemoignages{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;

    p{
        font-size: $font-size-sm;
        line-height: $line-text;
    }
    
    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }

    .mainTemoignage{
        margin-top: 1rem;
        padding: 2rem;
        background-color: $color-gray-light;
        border-radius: 20px;

        .mainTemoignageImage{
            width: 150px;
        }

        .mainTemoignageName{
            margin-top: 0.5rem;
        }

        .mainTemoignageText{
            margin-top: 0.5rem;
            font-weight: $font-weight-light;
        }
    }

}

@media (min-width: 1024px) {
    .mainTemoignages {

        p{
            font-size: $font-size-md;
        }

        h2 {
            font-size: $font-size-xxxl;
            margin-bottom: 3rem;
        }

        .contentMainTemoignage {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.5rem; // Espacement entre les témoignages
            width: 100%;
            max-width: 1200px;
        }

        .mainTemoignage {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.3s ease-in-out;
            width: 25%;
            padding: 2rem;

            .mainTemoignageImage {
                width: 120px;
                margin-bottom: 1rem;
            }

            .mainTemoignageName {
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
            }

            .mainTemoignageText {
                font-size: $font-size-md;
            }
        }

        /* Agrandir celui du milieu */
        .mainTemoignage:nth-child(2) {
            width: 25%; // Plus grand que ceux sur les côtés
            transform: scale(1.1); // Effet d'agrandissement
        }
    }
}

.mainActionContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    background-color: $color-gray-light;
    border-radius: 20px;
    padding: 1.5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 50%; // Ajustement pour bien couvrir le haut
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%; // Augmenté pour couvrir un maximum de surface
        height: 50%;
        background: rgba(65, 143, 153, 0.6); // Bleu-vert #418F99 avec transparence
        filter: blur(150px); // Flou plus large pour un effet diffus
        border-radius: 50%;
        z-index: -1; // Derrière le contenu
    }

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
    }

    .mainActionImage{
        width: 70%;
        margin-top: 2rem;
    }

    p{
        font-size: $font-size-md;
        line-height: $line-text;
    }

    .mainActionName{
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }
    
    .mainActionText{
        margin-top: 0.5rem;
    }

    .mainActionTextAction{
        font-style: italic;
        margin-top: 0.5rem;
    }

    .submitButton {
        padding: 1rem 2rem;
        margin-top: 1rem;
    }
}
@media (min-width: 1024px) {
    .mainActionContact{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5rem;
        padding: 2rem;
        position: relative;
        gap: 2.5rem;
    
        p{
            font-size: $font-size-lg;
        }
        
        h2{
            font-size: $font-size-xxxl;
        }
        
        .submitButton{
            font-size: $font-size-md;
        }
    
        .mainActionImage{
            width: 30%;
            margin-top: 0rem;
        }
    }
    
}

.mainProjets{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%; // Ajustement pour bien couvrir le haut
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; // Augmenté pour couvrir un maximum de surface
        height: 80%;
        background: rgba(65, 143, 153, 0.4); // Bleu-vert #418F99 avec transparence
        filter: blur(150px); // Flou plus large pour un effet diffus
        border-radius: 50%;
        z-index: -1; // Derrière le contenu
    }

    p{
        font-size: $font-size-sm;
        line-height: $line-text;
    }
    
    .mainProjetsTitle{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 0.5rem;
    }

    .containerMainProjets{
        padding-bottom: 1rem;
    }

    .mainProjetsButton {
        padding: 1rem 2.5rem;
        background-color: $color-primary;
        color: white;
        font-size: $font-size-sm;
        font-weight: $font-weight-semi-bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        margin: 0 auto;
      
        &:hover {
          background-color: #387b84;
        }
      }
}

@media (min-width: 1024px) {
    .containerMainProjets {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 projets par ligne
        gap: 2rem; // Espacement entre les projets
        justify-content: center;
        align-items: stretch;
        width: 100%; // Ajuste la largeur pour bien centrer
        margin-top: 3rem;
    }
}

/* Animations de base */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Démarre un peu en dessous */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Arrive à sa position d'origine */
    }
}

/* Applique l'animation aux éléments */
.mainAbove, .mainDescription, .mainService, .mainActionContact {
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards; /* Animation sur 0.8s */
}

/* L'animation est répétée pour chaque élément */
.mainAbove {
    animation-delay: 0.2s; /* Délai pour que les éléments apparaissent un par un */
}

.mainDescription {
    animation-delay: 0.4s;
}

.mainService {
    animation-delay: 0.6s;
}

.mainProjets {
    animation-delay: 0.8s;
}

.mainActionContact {
    animation-delay: 1s;
}

/* Pour les boutons */
.submitButton {
    opacity: 0;
    animation: fadeInUp 0.6s ease-out forwards; /* Animation pour le bouton */
    animation-delay: 1.2s; /* Délai pour que le bouton apparaisse après le reste */
}

/* Si tu veux animer des images ou d'autres éléments spécifiquement */
.mainServiceImage, .mainAboveImage {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards; /* Animation d'images */
    animation-delay: 0.8s; /* Début après un délai */
}


/* Animation pour les flèches de type "arrowRight" */
@keyframes arrowHorizontalMove {
    0% {
        transform: translateX(0); /* Position de départ */
    }
    50% {
        transform: translateX(10px); /* Déplace la flèche de 10px vers la droite */
    }
    100% {
        transform: translateX(0); /* Retour à la position d'origine */
    }
}

/* Applique l'animation aux flèches */
.arrowRight {
    animation: arrowHorizontalMove 1.5s ease-in-out infinite; /* Animation horizontale infinie */
}


/* Animation pour les flèches qui bougent de haut en bas (arrowMainService) */
@keyframes arrowVerticalMove {
    0% {
        transform: translateY(0); /* Position de départ */
    }
    50% {
        transform: translateY(-10px); /* Déplace la flèche de 10px vers le bas */
    }
    100% {
        transform: translateY(0); /* Retour à la position d'origine */
    }
}

/* Applique l'animation aux flèches */
.arrow {
    animation: arrowVerticalMove 1.5s ease-in-out infinite; /* Animation verticale infinie */
}
