@use "../../styles/index" as *;

.actionContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $color-gray-light;
    border-radius: 20px;
    padding: 1.5rem;
    margin-top: 5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 100%; // Augmenté pour couvrir un maximum de surface
        height: 50%;
        background: rgba(65, 143, 153, 0.2); // Bleu-vert #418F99 avec transparence
        filter: blur(100px); // Flou plus large pour un effet diffus
        border-radius: 50%;
        z-index: -1; // Derrière le contenu
    }

    .actionContactImage{
        width: 100%;
    }

    h2{
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
    }

    .actionContactText{
        font-size: $font-size-md;
        line-height: $line-text;
        margin-top: 1rem;
    }

    .submitButton{
        margin-top: 1rem;
        padding: 1rem 2rem;
    }
}

@media (min-width: 1024px) {
    .actionContact {
          flex-direction: row; // Change to row direction
          align-items: center; // Align items vertically in the center
          justify-content: space-between; // Distribute space between image and text
          padding: 2rem; // Increase padding
  
          &::before {
              width: 40%; // Adjust width for larger screens
              height: 100%; // Cover full height
              left: 0; // Align to the left
              bottom: 0; // Align to the bottom
          }
  
        .actionContactImage {
              width: 50%; // Adjust image width
              margin-right: 2rem; // Add space between image and text
          }
  
        .contentTextActionContact {
              text-align: left; // Align text to the left
              width: 45%;
          }
  
          h2 {
              font-size: $font-size-xxxl; // Increase heading size
          }
  
        .actionContactText {
              font-size: $font-size-lg; // Increase text size
              margin-top: 1.5rem; // Add more space above text
          }
      }
  }