@use "../../styles/index" as *;

.above{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: calc(100vh - 132px);
    box-sizing: border-box;
    padding-bottom: 2rem;
    
    .aboveImage {
        width: 100%;
    }
    
    h1{
        font-size: $font-size-xxxl;
        font-weight: $font-weight-bold;
        margin-top: 2rem;
    }
    
    p{
        font-size: $font-size-md;
        line-height: $line-text;
        margin-top: 1rem;
    }

    .arrowMainService{
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .above {
        flex-direction: column; /* L'alignement passe en ligne pour les grands écrans */
        justify-content: space-between; /* Équilibre l'espace entre l'image et le texte */
        text-align: left; /* Aligner le texte à gauche */
        height: calc(100vh - 164px);
        box-sizing: border-box;
        padding: 5rem 0 2rem 0;
    }

    .containerAbove {
        display: flex;
        gap: 2rem; /* Espacement entre l'image et le texte */
        align-items: center;
    }

    .aboveImage {
        width: 50%; /* Réduire la taille de l'image pour qu'elle occupe la moitié de l'espace */
        max-width: 450px; /* Limite la taille de l'image */
    }

    .aboveText {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Texte aligné à gauche */
        width: 50%; /* Le texte occupe l'autre moitié de l'espace */
        margin-left: 2rem;

        h1{
            font-size: $font-size-xxxxl;
            font-weight: $font-weight-bold;
            margin-top: 0rem;
        }
    
        p{
            font-size: $font-size-md;
            margin-top: 1rem;
        }
    }
}