@use '../../styles/index' as *;

.contactPage{
    background-color: $color-gray-light;
    border-radius: 20px;
    padding: 1.5rem;
    margin-top: 70px;

    h1{
        font-size: $font-size-xxxl;
        font-weight: $font-weight-bold;
    }
}

.contactInfo{
    display: flex;
    justify-content: space-between;
}

.imageContact{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}