@use "../../styles/index" as *;

.contactPage {
  background-color: $color-gray-light;
  border-radius: 20px;
  padding: 1.5rem;
  margin-top: 70px;
  margin-bottom: 20px;

  h1 {
    font-size: $font-size-xxxl;
    font-weight: $font-weight-bold;
  }
}

.contactInfo{
    display: flex;
    justify-content: space-between;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    font-size: $font-size-lg;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px;
    font-size: $font-size-md;
    outline: none;
    background: transparent;
    color: $color-blue-dark;
  }

  textarea {
    resize: none;
    height: 80px;
  }
}

.submitButton {
  padding: 0.8rem 3rem;
  background-color: #e66a41;
  color: white;
  font-size: $font-size-sm;
  font-weight: $font-weight-semi-bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 0 auto;

  &:hover {
    background-color: #cc582f;
  }
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.imageContact {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
